.auth {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  margin-bottom: $gutter * 2 + $font-size-h1;
  @media (min-width: 720px) {
    margin-bottom: $gutter;
  }
}

.button {
  background: $primary-bg;
  border: 0;
  border-radius: 1rem;
  color: $primary-color;
  cursor: pointer;
  font-size: $font-size-large;
  padding: $padding;

  &:hover {
    opacity: 0.5;
  }
}
