{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "selector-max-id": 1,
    "max-nesting-depth": [
      3,
      {
        "ignore": [
          "pseudo-classes"
        ]
      }
    ]
  }
}
