@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:global {
  * {
    box-sizing: border-box;
    outline: 0;
  }

  html,
  body {
    background-color: $body-bg;
    color: $text-color;
    font-family: $font-family;
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
  }

  #app {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
    @media (min-width: 720px) {
      flex-direction: row;
    }
  }
}
