$body-bg: #161616;

$primary-color: #fff !default;
$primary-bg: #999;
$primary-hover-bg: rgba(0, 0, 0, 0.5);

$text-color: #fafafa;
$text-muted: #999;

$font-family: 'Roboto', Helvetica, sans-serif;

$font-size-base: 18px;
$font-size-large: 24px;
$font-size-small: 14px;

$font-size-h1: 48px;
$font-size-h2: 24px;
$font-size-h3: 18px;
$font-size-h4: 16px;
$font-size-h5: 14px;
