.search {
  display: inline-grid;
  min-height: 75px;

  .label {
    font-size: $font-size-h4;

    padding-left: $padding;
  }

  .input {
    background: transparent;
    border: 0;
    border-bottom: 2px solid $text-muted;
    color: $text-color;
    font-size: $font-size-h1;
    font-weight: bold;
    padding: $padding;

    &::placeholder {
      color: $text-muted;
    }
  }
}
